.field-filter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(41, 41, 41);
  padding-bottom: 0.7rem;
  padding-top: 0.7rem;

  .filter {
    margin-top: 1rem;
    width: 92%;
  }
}

.card-container {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  overflow: auto;
  box-sizing: border-box;
  width: 100%;
  background-color: rgb(226, 225, 220);
  background-size: cover;
  background-attachment: scroll;

  .cliente-card {
    width: 30%; /* Aproximadamente 3 cards por linha com espaço entre eles */
    height: 12rem;
    margin-bottom: 15px;
    box-sizing: border-box; /* Incluir padding na largura total */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    mat-card-header{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
    }
  }

  .add-button{
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    z-index: 1000;
  
    button {
      padding: 10px 20px; /* Espaçamento interno do botão */
      background-color: #007bff; /* Cor de fundo do botão (exemplo: azul) */
      color: #ffffff; /* Cor do texto do botão (exemplo: branco) */
      border: none; /* Sem borda */
      border-radius: 5px; /* Borda arredondada */
      cursor: pointer; /* Mostra o cursor como ponteiro ao passar por cima */
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra suave */

      &:hover {
        background-color: #0056b3; /* Cor de fundo mais escura ao passar o mouse */
      }
    }
  }
}

