<mat-toolbar>Lista de Clientes</mat-toolbar>
<ng-template #carregando>
  <mat-spinner></mat-spinner>
</ng-template>
<section *ngIf="clients$ | async as clients; else carregando">
  <table mat-table [dataSource]="clients">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let client">
        <a routerLink="/client/edit/{{ client.id }}">{{ client.id }}</a>
      </td>
    </ng-container>
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let client">
        <a routerLink="/client/edit/{{ client.nome }}">{{ client.nome }}</a>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsTable"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsTable"></tr>
  </table>
</section>
<section class="register-btn">
  <button mat-raised-button color="primary" routerLink="/client/register">
    Adicionar
  </button>
  
<button mat-raised-button color="primary" routerLink="">Voltar ao inicio</button>
  
</section>
