<h1> Angular OnFire </h1>

<section *ngIf="!auth.user">
  <form>
    <fieldset>
      <legend>Login</legend>
      <div>Email</div>
      <input type="text" name="email" [(ngModel)]="email"/>
      <div>Senha</div>
      <input type="password" name="password" [(ngModel)]="password"/>
      <hr/>
      <button (click)="auth.emailSignin(this.email, this.password)">Login with e-mail</button>
      <button (click)="auth.googleSignin()">Login with Google</button>
    </fieldset>
  </form>
</section>
<section *ngIf="auth.error" style="color: red;">
  {{ auth.error }}
</section>
<section *ngIf="auth.user">
  Logged as <b>{{ auth.user.email }}</b>
  <button (click)="auth.signOut()"> Exit </button>
</section>