<mat-toolbar>{{ title }}</mat-toolbar>
<section>
  <form class="form-padrao" *ngIf="formGroup" [formGroup]="formGroup" (ngSubmit)="formGroup.valid && save()" novalidate>
    <mat-form-field>
      <input matInput placeholder="Nome" formControlName="nome" required autocomplete="off">
      <mat-error>Campo é obrigatório</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Documento" formControlName="document" required autocomplete="off">
      <mat-error>Campo é obrigatório</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Data de Nascimento" formControlName="birth_date" required autocomplete="off">
      <mat-error>Campo é obrigatório</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Estado Civil" formControlName="civil_state" required autocomplete="off">
      <mat-error>Campo é obrigatório</mat-error>
    </mat-form-field>
  </form>
  <section class="line-btn">
    <button mat-raised-button color="primary" [disabled]="!formGroup.valid">Salvar</button>
    <button *ngIf="client && client.id" type="button" color="warn" mat-raised-button (click)="deletar()">
      Deletar
    </button>
    <button type="button" mat-raised-button routerLink="/client">Cancelar</button>
  </section>
</section>