<mat-toolbar>{{ title }}</mat-toolbar>
 <section class="container">
  <form class="form-padrao" *ngIf="formGroup" [formGroup]="formGroup" (ngSubmit)="formGroup.valid && save()" novalidate>
    <mat-form-field>
      <input matInput placeholder="Nome" formControlName="nome" required autocomplete="off">
      <mat-error>Campo é obrigatório</mat-error>
    </mat-form-field>
    <section class="line-btn">
      <button mat-raised-button color="primary" [disabled]="!formGroup.valid">Salvar</button>
      <button type="button" mat-raised-button routerLink="/client">Cancelar</button>
    </section>
  </form>
 </section>
